body, html
{
	margin: 0;
	padding: 0;
	font-family: Verdana;
    background-color: whitesmoke;
}
input:focus, textarea:focus{
	background-color:#d9d9d9;
}

#pie
{	text-align: center;
    color:black;
    background-color:lightblue;
	padding:10px;
	margin-top:1px;
    border-top-right-radius: 25px 50px;
    border-top-left-radius: 25px 50px;

	padding-top:10px;;
}


#barrita
{
	display: block;
	height: 35px;
	width: auto;
	background-color: lightblue;
	/* margin: 5px 0 0 3px; */
	color: white;
	font-size: 20px;
	padding: 10px 0 0 15px;
	position: relative;
    border-radius: 25px 10px / 10px 25px;
}

#contenedor
{
	display: block;
	width: 800px;
	min-height: 500px;
	margin: 20px auto 0 auto;
	padding: 0;
}

#columna-contenido
{
	display: block;
	width: 550px;
	height: 400px;
	/* background-color: yellow; */
	float: left;
	border: 1px dashed #aaa;
	padding: 20px;
}

#columna-navegacion
{
	display: block;
	width: 150px;
	height: 350px;
	/* background-color: green; */
	float: right;
	border: 1px dashed #aaa;
	padding: 20px;
}

#prueba
{
	display: block;
	width: 200px;
	height: 350px;
	background-color: black;
}

.clearer
{
	clear: both;
}
