{% extends 'base.html' %}
{% load static from staticfiles %}

{% block contenido %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/signup.css' %}" />
	<form method = "post" action = "/usuario/signup/">

        <label>Nombre de Usuario: </label>
	    <input type = "text" name = "username" /><br />
        <br />
	    <label>Password: </label>
	    <input type = "password" name = "password" /><br />
        <br />
        <label>Nombre: </label>
	    <input type = "text" name = "nombre" /><br />
        <br />
        <label>Apellido: </label>
	    <input type = "text" name = "apellido" /><br />
        <br />
        <label>Email: </label>
	    <input type = "text" name = "email" /><br />
		<br />
        <button type = "submit" id=" botonenvio">Enviar</button>
	</form>

{% endblock %}